# Игнорировать все файлы .log
*.log

# Игнорировать директорию /build
/build/

# Игнорировать файл .env (содержит чувствительные данные)
.env

# Игнорировать все файлы в директории /temp
/temp/*

# Игнорировать файлы .pyc (скомпилированные Python-файлы)
*.pyc

# Игнорировать директорию __pycache__
__pycache__/

# Игнорировать файлы .DS_Store (создаются на macOS)
.DS_Store

# Игнорировать директорию .venv (виртуальное окружение Python)
venv/

# Игнорировать tokens
tokens/